/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
html,
body {
  font-family: 'Work Sans', serif;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER */
header {
  background-color: #ff4f81;
}
